<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.43.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Applications</title>
  </head>
  <body>
    <div class="fixed navbar bg-red-800">
      <div class="flex-1">
        <img
          class="h-12 w-12"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6e0GlvpFhLzztcgI1Rlg2HKpr4VQwLaspLpZh9iI&s"
          alt="Icon"
        />
        <a class="btn btn-ghost normal-case text-xl text-gray-400" href="/"
          >ONGC</a
        >
      </div>
    </div>
    <div class="pt-20">
      <div
        class="max-w-[960px] mx-auto bg-white box-border border-2 rounded-md space-y-4 pt-10"
      >
        <div class="px-5 flex item-center justify-between">
          <p class="font-bold">Name:</p>
          <h1><%= element.name %></h1>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Gender:</p>
          <h5><%= element.gender %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Date of Birth:</p>
          <h5><%= element.dob %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Aadhar:</p>
          <h5><%= element.aadhar %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Address:</p>
          <h5><%= element.address %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Email:</p>
          <h5><%= element.email %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Mobile:</p>
          <h5><%= element.mobile %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Branch:</p>
          <h5><%= element.branch %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Semester:</p>
          <h5><%= element.semester %></h5>
        </div>
        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Parent's Name:</p>
          <h5><%= element.pname %></h5>
        </div>

        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Occupation:</p>
          <h5><%= element.occupation %></h5>
        </div>

        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">Marks:</p>
          <h5><%= element.marks %></h5>
        </div>

        <div class="px-5 flex items-center justify-between">
          <p class="font-bold">CGPA:</p>
          <h5><%= element.cgpa %></h5>
        </div>

        <div class="grid grid-cols-4 p-5 justify-center gap-x-4">
          <a href="<%= element.photograph %>" download class="btn btn-primary"
            >View Photograph</a
          >
          <a href="<%= element.marksheet %>" download class="btn btn-primary"
            >View Marksheet</a
          >
          <a href="<%= element.lastsem %>" download class="btn btn-primary"
            >View Last Sem Marksheet</a
          >
          <a href="<%= element.letter %>" download class="btn btn-primary"
            >View Letter</a
          >
        </div>

        <% if( element.status === "Pending") { %>
        <div class="container flex py-5 px-2 text-lg gap-x-5">
          <div class="flex-1">
            <a
              href="http://localhost:3000/dashboard/accept/<%=element._id%>"
              class=""
            >
              <button type="submit" class="btn bg-green-500 w-full text-white">
                Accept
              </button>
            </a>
          </div>
          <div class="flex-1">
            <a
              href="http://localhost:3000/dashboard/reject/<%=element._id%>"
              class=""
            >
              <button type="submit" class="btn bg-red-500 w-full text-white">
                Reject
              </button>
            </a>
          </div>
        </div>
        <% }else if(element.status === "Accepted") { %>
        <div
          class="box-border rounded-lg border-2 bg-emerald-800 text-center text-white py-2"
        >
          Accepted
        </div>
        <%}else{%>
        <div
          class="box-border border-2 rounded-lg bg-red-700 text-center text-white py-2"
        >
          Rejected
        </div>
        <%}%>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
